vendor
idea
.idea/
web/user_photo/
web/post-img/
web/post_photo/
web/*.xml
runtime
web/assets/
web/sitemaps/
web/download/
config/params.php
config/db.php
web/js/*.min.js
web/css/*.min.css
web/js/admin/*.min.js
web/css/admin/*.min.css
web/css/admin/pop-up/*.min.css
web/sitemap.xml
web/index.php
yii