vendor
idea
.idea/
web/user_photo/
web/post-img/
web/post_photo/
web/*.xml
runtime
web/assets/
web/sitemaps/
web/download/
config/params.php
config/db.php
web/js/*.min.js
web/js/admin/*.min.js
web/index.php