@media (max-width: 660px) {
    body:not(.open-search) .authorized .search_block{
        display: flex;
        float: right;
        padding: 0;
        margin: 0;
        background-color: transparent;
        width: auto;
        height: 60px;
    }

    body:not(.open-search) .authorized .search{
        display: none;
    }

    body:not(.open-search) .authorized .btn-search:after{
        width: 18px;
        height: 18px;
        background-image: url("../img/icons.png");
        background-position: 482px 830px;
    }
    body:not(.open-search) .authorized .btn-search:hover:after{
        background-position: 464px 830px;
    }
    body:not(.open-search) .authorized .btn-search{
        height: auto;
        align-items: center;
        padding: 21px 15px;
    }
}
@media (max-height: 480px) {
    .container-popup-window{
        top:0;
    }
    .block-map{
        height: 300px;
    }
    .preload-map{
        height: 80px;
        background-image: url("../img/map.jpg");
    }
}

@media (min-width: 940px) and (max-width: 1040px){
    .container-info-btn{
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .block-promo-btns{
        margin-top: 20px;
    }
}

@media (max-width: 800px) {
    .--with-message{
        width: 500px;
        left: calc(50% - 250px);
        top: 0px;
    }

    .block-columns-popup-authentication{
        justify-content: center;
        flex-direction: column;
    }

    .left-column{
        width: 100%;
    }
}

@media (max-width: 530px) {
    .--with-message{
        width: 100%;
        left: 0px;
    }

}
