@media (max-width: 660px) {
    body:not(.open-search) .authorized .search_block{
        display: flex;
        float: right;
        margin-top: 10px;
        background-color: transparent;
        padding: 0;
        width: auto;
    }

    body:not(.open-search) .authorized .search{
        display: none;
    }

    body:not(.open-search) .authorized .btn-search:after{
        width: 18px;
        height: 18px;
        background-image: url("../img/search.png");
        background-position: 0px 0px;
    }
    body:not(.open-search) .authorized .btn-search:hover:after{
        background-position: 18px 0px;
    }
    body:not(.open-search) .authorized .btn-search{
        height: auto;
        display: flex;
        align-items: center;
    }
}
@media (max-height: 480px) {
    .container-popup-window{
        top:0;
    }
    .block-map{
        height: 300px;
    }
    .preload-map{
        height: 100px;
        background-image: url("../img/map.png");
    }
}

@media (min-width: 940px) and (max-width: 1040px){
    .container-info-btn{
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .block-promo-btns{
        margin-top: 20px;
    }
}
