@media (max-width:770px) {

    .h1-c{
        font-size: 30px;
    }
    .catalog-title-name{
        font-size: 26px;
    }
    .card-block,
    .photo,
    .photo-not-found,
    .card-block-discount{
        width: 100%;
    }

    .menu-inline li{
        margin-right: 30px;
    }
    .btns-filter .btn-filter:nth-child(3){
        display: none;
    }
    .page-search{
        display: flex;
        justify-content: space-between;
        margin-right: 0px;
        width: 100%;
    }
    .page-search .btn-filter{
        margin: 0px;
        text-align: center;
    }
    .page-search .btn-filter:nth-child(3){
        display: flex;
    }
    .btn2-menu{
        height: 28px;
    }
    .menu-btns-card{
        padding: 15px 0;
    }
    .btn2-menu:hover, .btn2-menu-active,
    .btn2-menu:hover, .btn2-menu.active {
        box-shadow: 0px 0px 0px 0px  #a7c9ff;
    }

    .n2{
        display: none;
    }
    .n1{
        margin-right: 0px;
    }
    .btn-add-photo{
        width: 120px;
    }

    .review-text{
        margin-top: 14px;
        width: 100%;
        margin-left: 0;
    }
    .rating-r{
        margin-left: 0px;
    }
    .block-review-content{
        flex-direction: column;
    }
    .review-help-text{
        display: block;
    }
    .review-photo{
        margin-left: 20px;
    }
    .review-footer-btn:first-child{
        margin-left: 20px;
    }

    .container-photo{
        width: 100%;
        margin-right: 0px;
    }
    .container-photo:nth-child(3n){
        margin-right: 0px;
    }
    .container-photo:nth-child(2n){
        margin-right: 0px;
    }
    .card-block-discount{
        margin-right: 0px;
    }
    .progress-level-bar{
        width: 100%
    }
    .card-block{
        margin-right: 0px;
    }

    .photo-popup-content{
        width: calc(100% - 20px);
    }
    .photo-left-arrow div,
    .photo-right-arrow div,
    .photo-right-arrow div:hover,
    .photo-left-arrow div:hover{
        background: none;
        cursor: auto;
    }
    .wrap-photo-info {
        left: 10px;
    }
    .photo-left-arrow, .photo-right-arrow{width: 0px;}
    .photo-header{
        margin-left: 0;
    }

    .complain-gallery-text {
        left: 10px;
    }
    .photo-header{
        width: calc(100% -  48px);
    }
    .gallery-counter {
        right: 10px;
    }
    .close-photo-popup{right: 10px;}
    .official-sign {
        background: url("../img/icons.png") rgba(0, 0, 0, 0) 114px 687px;
        width: 20px;
        color: rgba(0, 0, 0, 0);
    }

    .card-promo{
        flex-direction: column;
    }
    .block-promo-info{
        margin-top: 20px;
        margin-left: 0px;
    }

    .without_header .review-footer{
        margin-left: 0px;
    }
    .without_header .block-review-content{
        padding: 0 20px;
    }
    .without_header .review-photo{
        margin-left: 20px;
    }
    .official_answer .comment-text{
        margin-left: -60px;
    }
    .official_answer .profile-commentator{
        margin-left: 0px;
    }

    .block-reviews .official_answer  {
        padding: 0 20px;
    }
    .nf-desc{
        font-size: 20px;
    }

    .insert-item h2{
        font-size: 26px;
    }
}
