@media (max-width:1319px) {

    .header {
        width: calc(100% - 35px);
        margin: 0 15px 0 20px;
    }
    .logo-menu{
        margin-left: 10px;
    }
    .header-selected-city,
    .btns-map {
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .open-search .search_block{
        width: calc(100% - 169px);
    }
    .a-auto-complete,
    .block-auto-complete-header{
        width: calc(100% - 60px);
        margin-left: auto;
        margin-right: auto;
    }
    .block-footer-content{
        width: calc(100% - 60px);
        margin: 0 30px;
    }

    .search_block{
        width: calc(100% - 656px);
    }
    .authorized .search_block{
        width: calc(100% - 748px);
    }
    .block-content{
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .block-flex-white.inside .block-content{
        margin: 0 0;
    }

    .nav-bar1,
    .block-content-between,
    .block-info-card,
    .block-write-reviews,
    .block-reviews,
    .review-show-more,
    .block-add-review,
    .block-photos-users,
    .block-photos-owner,
    .block-issues,
    .block-сomments-post,
    .block-news-container,
    .container-cards-promo,
    .container-promo-statistic,
    .container-message,
    .block-flex-white.inside{
        width: calc(100% - 315px);
    }
    .block-сomments-post._reviews{
        width: 100%;
    }
    .block-info-for-owner{
        width: calc(100% - 345px);
    }
    .block-description-card,
    .container-settings,
    .container-add-place{
        width: calc(100% - 355px);
    }

    .__first-column .container-add-place,
    .__first-column .block-description-card,
    .__first-column .container-post,
    .__first-column .container-settings
    {
        width: calc(100% - 40px);
    }

    .__first-column .block-info-for-owner{
        width: calc(100% - 30px);
    }

    .__first-column .container-settings,
    .__first-column .block-сomments-post,
    .__first-column .block-content-between,
    .__first-column .block-news-container,
    .__first-column .block-write-reviews,
    .__first-column .block-reviews,
    .__first-column .review-show-more,
    .__first-column .block-info-card{
        width: 100%;
    }

    .card-block,
    .card-block-discount{
        width: calc((100% - 20px)/2 );
    }
    .photo, .photo-not-found{
        width: calc((100% - 5px)/2 );
    }
    .block-widgets{
        display: none;
    }
    .card-block:nth-child(even),
    .photo:nth-child(even),
    .photo-not-found:nth-child(even){
        margin-right: 0px;
    }
    .block-cities{
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .autocomplete-result-search ul li{
        width: 25%;
    }

    .menu-info-cards{
        width: calc(100% - 60px);
        margin: 0 30px;
    }
    .n4,
    .n3{
        display: none;
    }
    .card-block-discount:nth-child(2n){
        margin-right: 0px;
    }
    .container-photo{
        width: calc((100% - 20px)/2 );
    }
    .container-photo:nth-child(3n){
        margin-right: 20px;
    }
    .container-photo:nth-child(2n){
        margin-right: 0px;
    }
    .container-discount-photos{
        width: calc(100% - 355px);
    }
    .block-news-container .card-block:nth-child(3n){
        margin-right: 20px;
    }
    .block-news-container .card-block:nth-child(2n){
        margin-right: 0px;
    }

    .open-search .authorized .search_block{
        width: calc(100% - 222px);
    }

}
