@media (min-width: 1320px) {
    .block-content,
    .block-cities,
    .block-widgets,
    .block-footer-content,
    .menu-info-cards,
    .header{
        width: 1260px;
        margin: 0 auto;
    }
    .menu-btn {
        margin-left: -10px;
    }
    .a-auto-complete,
    .block-auto-complete-header{
        width: 1260px;
        margin-left: auto;
        margin-right: auto;
    }
    .btn_br{
        display: flex;
        float: right;
        width: 300px;
        background-color: #cf4d43;
        font-family: PT_Sans bold;
        color: #ffffff;
        height: 60px;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        cursor: pointer;
    }
    .btn_br:hover{
        background-color: #bc3737;
    }
    /*Cтили toastMessage*/
    .toast-position-top-right {
        right: calc((100% - 1260px)/2);
    }
    /*end Cтили toastMessage*/

}
