.search_block{
    display: flex;
    float: right;
    margin-top: 10px;
    background-color: transparent;
    padding: 0;
    width: auto;
}
.search{
    display: none;
}
.open-search .search_block{
    display: flex;
    padding-left:20px;
    float: right;
    margin-top: 10px;
    background-color: white;
    height: 40px;
    border-radius: 40px;
}
.open-search .search{
    display: inherit;
    width: calc(100% - 74px);
}
.h1-c,
.h1-v{
    font-size: 28px;
}
.h2-c,
.h2-v,
.post-h2{
    font-size: 26px;
}

.autocomplete-result-search ul li{
    width: 100%;
}
.logo:after{
    content: url("../img/logo-thinner.png");
}
.header-popup-authentication .logo:after{
    content: url("../img/logo.png");
}
.btn-search:after{
    content: url("../img/magnifier-icon18x18.png");
}
.btn-search:hover:after{
    content: url("../img/magnifier-icon18x18-hover.png");
}
.btn-search{
    height: auto;
    display: flex;
    align-items: center;
}

.open-search .btn-search{
    float: right;
    padding: 5px 3px 3px 3px;
    cursor: pointer;
}
.open-search .btn-search:after{
    content: url("../img/search-icon.png");
}
.open-search .btn-search:hover:after{
    content: url("../img/search-icon-activ.png");
}

.btn_add_place{
    margin-left: 15px;
}
.profile-icon-menu,
.btn-notice{
    margin-left: 20px;
}
.btn_add_place:after{
    content: url("../img/add-place-icon26x26.png");
}
.btn_add_place:hover:after{
    content: url("../img/add-place-icon26x26-hover.png");
}
.count-notice{
    width: 20px;
    height: 20px;
}
.profile-icon-menu{
    width: 35px;
    height: 35px;
}
.profile-icon-menu img{
    width: 35px;
    height: 35px;
    border-radius: 17px;
}

.block-social{
    width: 100%;
}
.block-social:nth-child(1){
    margin-bottom: 10px;
}
.sign_in_btn{
    margin-left: 15px;
    font-family: PT_Sans;
}
.bread-crumb a{
    display: none;
}
.bread-crumb p{
    display: none;
}
.bread-crumb span{
    display: none;
}
.bread-crumb a.pre{
    display: block;
}
.icon-filter span{
    display: none;
}
.social-btn-share p{
    display: none;
}
.address-card span{
    display: none;
}
.review-photo{
    width: 270px;
    height: 190px;
}
.profile-user-reviews{
    display: none;
}
.btn2-menu{
    height: 30px;
}
.block-write-reviews{
    position: fixed;
    top: calc(100% - 90px);
    left: 0px;
    width: 100%;
    z-index: 1;
}
.block-write-reviews.active{
    position: inherit;
}
.keyboard-open .block-write-reviews.main-write{
    display: none;
}
.keyboard-open .block-write-reviews.main-write.active{
    display: flex;
}
.block-write-reviews.active .profile-user-reviews
{
    display: flex;
}
.fx-bottom{
    position: fixed;
    top: calc(100% - 60px);
    left: 0px;
    width: 100%;
    margin-top: 0px;
}
.block-sort-reviews{
    flex-wrap: wrap;
    height: 60px;
    align-items:flex-start;
    padding-bottom: 5px;
    padding-top: 20px;
}
.btn-sort-reviews{
    height: 30px;
}
.btn-sort-reviews:last-child{
    width: 200px;
    margin-left: 0px;
}
.btn-sort-reviews:hover{
    box-shadow: 0 0px 0 0 #a7c9ff;
}
.container-profile{
    flex-direction: column;
}
.container-profile-info{
    margin-top: 30px;
}
/*меню уведомлений*/
.notif-menu{
    right: -348px;
    width: 348px;
}
.user-info{display: none;}
.hidden-date{display: block;}
/*меню уведомлений end*/
.container-blackout-popup-window{
    background-color: rgba(52,56,67,0.9);
}
.container-popup-window{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    position: absolute;
    left: 0;
    top: 0;
}
.block-social-authentication{
    flex-wrap: wrap;
}
.block-social-authentication a{
    width: 300px;
    text-decoration: none;
}
.block-social-authentication .social-btn-vkontakte,
.block-social-authentication .social-btn-facebook,
.block-social-authentication .social-btn-twitter,
.block-social-authentication .social-btn-odnoklassniki,
.block-social-authentication .social-btn-google
{
    width: calc(100% - 20px);
    margin-bottom: 20px;
    justify-content: flex-start;
    padding-left: 20px;
}
.block-social-authentication .social-btn-vkontakte:before,
.block-social-authentication .social-btn-facebook:before,
.block-social-authentication .social-btn-twitter:before,
.block-social-authentication .social-btn-odnoklassniki:before,
.block-social-authentication .social-btn-google:before{
    margin-right: 20px;
    width: 30px;
    display: flex;
    justify-content: center;
}
.block-social-authentication .social-btn-vkontakte:after{
    content: 'ВКонтакте';
    color: #ffffff;
    font-size: 16px;
    font-family: PT_Sans bold;
}
.block-social-authentication .social-btn-facebook:after{
    content: 'Facebook';
    color: #ffffff;
    font-size: 16px;
    font-family: PT_Sans bold;
}
.block-social-authentication .social-btn-odnoklassniki:after{
    content: 'Одноклассники';
    color: #ffffff;
    font-size: 16px;
    font-family: PT_Sans bold;
}
.block-social-authentication .social-btn-twitter:after{
    content: 'Twitter';
    color: #ffffff;
    font-size: 16px;
    font-family: PT_Sans bold;
}
.block-social-authentication .social-btn-google:after{
    content: 'Google';
    color: #ffffff;
    font-size: 16px;
    font-family: PT_Sans bold;
}
.day-name-min{
    display: flex;
}
.day-name{
    display: none;
}
.item-photo-from-gallery{
    width: 280px;
    margin-right: 0px;
}

/*loader start*/
#loader-box{
    margin-top: calc((100% + 150px)/2);
}
/*loader finish*/
